
.logo{
    width:100px;
    display:block;
    margin:auto
}

.title{
    text-align:center;
    padding:20px 0px 0px;
    color:#7A7593
}

.caption{
    text-align:center;
    padding:0px 0px 30px;
    color:#7A7593
}
