@import '../variables';

.Footer {
  overflow: hidden;
  background-color: #696969;
  position: relative;
  height: $nav-height;
  p {
    text-transform: uppercase;
    margin: auto;
    font-size: 70%;
    text-align: center;
    color: rgba(255,255,255,0.6);
    margin-top:22px;
    padding:5px;
  }
  a {
    text-align: start;
    color: white;
    display:block;
    margin-top:15px;
  }
  ul{
    text-align: center
  }
}

@media (max-width: 1011px)  {
  .Footer {
    p {
      font-size: 80%;
    }

    a {
      font-size: 70%;
    }
  }
}
