@import '../node_modules/normalize.css/normalize.css';
@import "./variables.scss";
@import "./fonts.scss";
@import "./utils.scss";

html {
  background-color:$bg-landing;
}


body {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, p, button {
  margin: 0;
}

main {
  min-height: calc(130vh - #{$nav-height});
  padding-top: $nav-height;
  background-color: $primary-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@import './components/nav.scss';
@import './components/footer.scss';
@import './pages/error.scss';
@import './pages/landing.scss';
